<div class="container">

<img src="<%= @job.company.logo%>" style="max-height: 200px; max-width: 200px;" >
<h4>  About the company </h4>
<p>  <%= @job.company.description%></p>
<br />
<h5>Jobs</h5>
<br />


<a href="/jobs">Back to all jobs</a>

</div>