<div class="container">
<h1 align="center">Companies page</h1>

<hr />

<% @companies.each do |company| %>
<h3><%= company.name%></h3>
<p><%= company.logo%></p>
<li>Description: <%= company.description%></li>
<% end %>
</div>